.body {
  margin: 0px;
}

.menu {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  height: 80px;
}

.big {
  display: flex;
  font-size: 19px;
}

.p {
  margin-right: 20px;
  cursor: pointer;
  color: aliceblue;
  font-family: "Domine";
}

.number {
  font-size: 23px;
  color: aliceblue;
}

.p:hover {
  font-size: 30px;
  color: #bf0d0d;
}

.number:hover {
  color: #bf0d0d;
}
